body {
font-family: Tahoma;
font-size: 14px;
background: url("bg.png") repeat-x;
}

/* ---HEADER--- */

.wrapper {
     position:relative;
     width: 1000px;
     background-color: #fff;
     margin: 0 auto;
     padding-top: 9px;
     box-shadow: 0px 5px 10px -1px;
}


.clearfix:after {
     content:'';
     clear: both;
     display: block;
}

.logo {
	float:left;
     padding-left: 30px;
}


.contacts {
     float:right;
     line-height: 16px;
     padding-right: 35px;
     font-size: 12px;
     color: #128aa7;
 }
.contries {
     clear:right;
     float:right;
}
.contries li {
     float:left;
     padding:0 15px;
     margin-top:35px;
     text-align: center;

}
.contries img {

     display: block;
}
 .contries a {
 	color: #128aa7;
     font-size:10px;
}

/* ---PHOTO--- */
.main-photo {
     border-top: 1px solid #128aa7;
     border-bottom: 1px solid #128aa7;
}


/* ---NAVIGATION--- */

.navigation {
     background: #323232;
}
.nav-list {
     float:left;
     color: #fff;
     padding:8px 33px;
     display: block;
}

.nav a{
     color: #fff;
     text-decoration: none;
}
.nav-drop a{
     float:none;
     padding: 7px 10px;
     line-height:14px;
}
.nav a:hover{
     background: #666;
     display:block;
}
.nav-list {
     position: relative;
}

.nav-drop {
     position: absolute;
     width: 100%;
     display:none;
}

}
.nav-list:hover .nav-drop{
     background: #303030;
     width: 150px;
     text-align: center;
     display:block;
     z-index:2;
}
/* ---CONTENT--- */

.content {
     position: relative;
     overflow: hidden;
     text-align: center;
     color: #424c43;
     font-size:14px;
}

.column-left-bg {
     width: 100%;
     background: #edeef0;
     float: left; 
     position: relative;
     left: 0%;
}


.column-center-bg {
     width: 100%;
     background: #fff;
     float: left; 
     position: relative;
     
     left: 21%; 
}

.column-right-bg {
     background: #edeef0;
     float: left; 
     position: relative;

     width: 100%; 
     left: 58%;
}

.column-left {
     width: 19%;
     float: left;
     overflow: hidden; 
     position:relative;
     right:78%;
     padding:10px 0px;
     
}

.column-center {
     width: 56%;
     float: left;
     overflow: hidden; 
     position:relative;
     right:76%;
     padding:10px 0px; 
}

.column-right {
     width: 18%;
     float: left;
     overflow: hidden; 
     position:relative;
     right:74%;
     padding:10px 0px; 
}

.content h2 {
     font-size: 18px;
     margin-bottom:10px;

     font-weight: bold;
     color: #424c43;
}
.content p {
     font-size: 12px;
     line-height: 10px;
     margin-bottom: 10px;
     color: #424c43;

}
/* ---FOOTER--- */

.footer {
     margin: 16px;
     color: #fff;
     text-align: center;
     font-size: 12px;
}
